<script>
$(document).ready(function() {
  <% if !@hos_room.nil?%>
  <% if @hos_room.length>=5%>
    $('#add_choice').attr('disabled',true);
  <% end %>
  <% end %>
    $("#hostel_type").change(function() {
        var val = $(this).val();
        <% @hostels.each do |hostel| %>
          if (val == "<%=raw hostel%>") {
            $("#rooms1").html("<option disabled selected value style='color:black'>-Room---bed-</option><% @rooms[hostel].each do |room| %><option value=<%=room[0]%>><%=room[0]%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=room[1]%></option><% end %> ");
        }
        <%end%>
        
    });
    $('.room_type').on('change', function() {
      room_no=$(this).val();
      hostel=$('#hostel_type').val();
      flag=0;

      <%if !@filled_rooms.nil?%>
        <% @filled_rooms.each do |filled| %>
        if (room_no=="<%=raw filled.room_no%>" && hostel=="<%=raw filled.hostel%>"){
            flag=1;
            $('.td').html("<thead> <caption>STUDENT INFO WITH ROOM PRIORITY </caption><tr><th>Rollno</th> <th>CGPA</th><th>P1</th><th>P2</th><th>P3</th><th>P4</th><th>P5</th></tr></thead><tbody><%Choice.joins(:room_choices).where(:room_choices=>{room_no:filled.room_no,hostel:filled.hostel}).order(cgpi: 'DESC').each do |border|%><tr><td><%=border.border_roll_no%></td><td><%=border.cgpi%></td><%if !border.room_choices.nil?%><%border.room_choices.each do |room_choice|%><td><%=room_choice.room_no%></td><%end%></tr><%end%><%end%></tbody>");
         
        }
        <%end%>
        if (flag==0){
          $('.td').html('');
        }

      <%end %>
      
     
    });


});
</script>
<!-- navigation bar starts-->
<!--reapeated code for select roommates.html & studentlogin.html-->
<nav class="navbar navbar-inverse navbar-static-top nav-set" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#roomnav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    <a class="navbar-brand" href="#">SELECT YOUR ROOM & ROOMMATES</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="roomnav">
      <ul class="nav navbar-nav nav-tabs">
                          
         <li><%= link_to "Profile",profile_path(current_user.id) %></li>
         <li><%= link_to "LOGOUT",logout_path ,method: "delete"%></li>

        </ul>
    </div>
  </div>
  
</nav>
<!--form section used here
  <select class="form-control" disabled>
  <option>hostel1</option>
  <option>hostel1</option>
<option>hostel1</option>
</delect>
-->
<!-- navigation bar end-->
<div class="panel">
<div class="row set-body-margin jumbotron">
<!--class="text-justified","text-center,text-right " will used-->
        <div class="col-md-5 col-md-offset-1  col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center ">
                    <h2 class="panel-title">SELECT ROOMS & ROOMATES</h2>
                </div>

                <div class="panel-body">
                  <div class="row">

                  <%= form_for(:room_allotement, url: add_path,remote:true) do |f| %>
                    <%= render 'shared/error_messages', object: @border %>
                  <div class="form-group">
                        <label for="hostel">SELECT HOSTEL</label>
                         <select list="hostel-name" name="hostel1" class="form-control " required="required"  placeholder="select-hostel" id="hostel_type"/>
                         <option value="" disaled selected>--Select-Hostel--</option>
                            <% @hostels.each do |hostel| %>
                            <%if is_hostel_active?(hostel) %>
                              <option value=<%=hostel%>><%=hostel%>
                              <%end%>
                            <%end%>
                          </select>
                  </div>
                  <div class="col-md-6">
                    <label for="roomno">SELECT ROOMS</label>
                       <div class="form-group">
                          <select list="room-numbers" name="selected_room[]" class="form-control room_type " required="required" size=15 style='background:#808B96; color:black' placeholder="-Room-" id="rooms1" multiple=true maximumSelectionSize= 1 />
                          <option disabled selected value style='color:black'>-Room-    -bed-</option>
                            
                               
                            </select>
                       </div>
                                          <div class="text-center">

                        <button type="submit" class="btn btn-default " id="add_choice">ADD Choice</button></div>
                        
                 
                        <%end%>
                    </div>
                   <div class="col-md-6">
                   <%= form_for(:remove, url: remove_path,remote:true) do |f| %>

                     <div class="form-group">
                        <label for="selectedroom" >Selected Rooms</label>
                          <select list="room-numbers" name="selected_choices[]" class="form-control " required="required" size=7 style='background:#808B96; color:black' placeholder="-Room-" id="room_choice" multiple=true maximumSelectionSize= 1/>
                        <% if !@hos_room.nil?%>
                          <%@hos_room.each do |room|%>
                            <option value=<%=room[0]%>><%=room[1]%>  <%=room[2]%>
                          </option>
                          <%end%>
                        <%end%>
                               
                        </select>
                      </div>
                                    <div class="text-center">
                        <button type="submit" class="btn btn-default">Remove Choice</button>
                                    </div>
                              
                        <%end%>
                      </div>
                  </div>
                  <div class="row">
                    <%= form_for(:room_allotement, url: roomallotement_path) do |f| %>
                      <div class="col-md-6">
                    <div class="form-group">
                      <label for="roommate1" >Student Roommate1</label>
        
                      <input type="text" name="roommate1[]" class="form-control" id="studentrollno" placeholder="student roll number" >
                    </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                        <label for="roommate2" >Student Roommate2</label>
        
                        <input type="text" name="roommate1[]" class="form-control" id="st" placeholder="student roll number">
                    </div>
                      
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-default">Submit</button>
                  </div>

                    <%end%>
                  </div>
                </div>
            </div>
          </div>
         <div class="col-md-5 ">
                  <div class="panel panel-default">
                        <div class="panel-heading text-center ">
                            <h2 class="panel-title">SESSION</h2>
                        </div>

                        <div class="panel-body fixed-height">
                    
                          <tabel class="table td">
                            
                            <tabel>
                        </div>
                  </div>
          </div>
              
        </div>
      </div>
</div>

